@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;900&display=swap");

$primary: #561292;
$info: #711bba;
$warning: #0074D9;

@import "bootstrap/scss/bootstrap";

@import "./globals.scss";
@import "./sweetalert.scss";